available_solutions.txt
solutions_to_process.txt

.env
.vault_pass.txt
.DS_Store
*.pyc
*.pdb
__pycache__/
demo-scripts/
example-puzzles/solution_2003903/
*.retry
.Rproj.user
*.html
*.swp

.ipynb_checkpoints/
